@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Speech.Models.Note


<div class="container user-form">
    <h2>Edit Note</h2>
    <hr />
    <h4>Edit this note: @Html.DisplayFor(model => model.Description)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.NoteId)
        @Html.HiddenFor(model => model.ProfileId);

        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })

        <input type="submit" value="Save" class="btn" />
    }
    <h4>@Html.ActionLink("Back to client list", "Client")</h4>
</div>