@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Speech.Models.Review


<h2>Add a new review</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })

    <input type="submit" class="btn btn-success" value="Add new review" />
}

<br />
<p>@Html.ActionLink("Back to product list", "Index")</p>