@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Speech.Models.Profile

<div class="container">
    <h1>@Html.DisplayFor(model => model.ClientFirst)</h1>
    <hr />
    <div class="row">
        <div class="col-sm-3">
            <h4><span class="property">Name:</span></h4>
        </div>
        <div class="col-sm-9">
            <h4> @Html.DisplayFor(model => model.ClientFirst) @Html.DisplayFor(model => model.ClientLast)</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h4><span class="property">Birthdate:</span></h4>
        </div>
        <div class="col-sm-9">
            <h4> @Html.DisplayFor(model => model.DOB)</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h4><span class="property">Parent name:</span></h4>
        </div>
        <div class="col-sm-9">
            <h4> @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h4><span class="property">Parent comment:</span></h4>
        </div>
        <div class="col-sm-9">
            <h4> @Html.DisplayFor(model => model.Comment)</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h4><span class="property">Goals:</span></h4>
        </div>
        <div class="col-sm-9">
        
                @if (Model.Goals.Count > 0)
                {

                    <div class="row">
                        <div class="col-sm-6">
                            <h4><span class="property">Description:</span></h4>
                            <hr />
                        </div>
                        <div class="col-sm-6">
                            <h4><span class="property">Status:</span></h4>
                            <hr />
                        </div>
                    </div> 



                    @foreach (var goal in Model.Goals)
                    {

                        <div class="row">
                            <div class="col-sm-6">
                                <h4>@goal.Description</h4>
                            </div>
                            <div class="col-sm-6">
                                @if (goal.Completed == false)
                                {
                                    <div id="completed-goal-@goal.GoalId">
                                   
                                            <h4>This goal has not been met yet.
                                                <button class="complete" id="@goal.GoalId">Mark this goal as met</button>
                                            </h4>
                                    </div>
                                }
                                else
                                {
                                    <h4>This goal has been met.</h4>

                                }
                            </div>
                        </div>
                    }
                }
                else 
                {
                    <p>No goals have been added yet</p>
                }
         


        </div>
    </div>

    <br />
    <p>@Html.ActionLink("Back to client list", "Clients", "Admin")</p>
    <p>@Html.ActionLink("Create a goal", "Create", "Admin")</p>

</div>