@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Speech.Models.Goal

<div class="container user-form">
    <h1>Are you sure you want to delete this goal?</h1>
    <hr />

    <h4><span class="property">@Html.DisplayNameFor(model => model.Description):</span> @Html.DisplayFor(model => model.Description)</h4>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.GoalId)
        @Html.HiddenFor(model => model.ProfileId);

        <br />
        <input type="submit" class="btn btn-danger" value="Delete" />
    }

    <h4>@Html.ActionLink("Client List", "Clients", "Admin")</h4>
</div>