@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Speech.Models.Goal


<div class="container user-form">
    <h2>Edit Goal</h2>
    <hr />
    <h4>Edit this goal: @Html.DisplayFor(model => model.Description)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.GoalId)
        @Html.HiddenFor(model => model.ProfileId);

        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control"})

        <input type="submit" value="Save" class="btn" />
    }
    <h4>@Html.ActionLink("Back to client list", "Client")</h4>
</div>