@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Speech.Models.Contact

<div class="container user-form">
    <h1>Contact Us</h1>
    <hr />
    @using (Html.BeginForm())
    {
        <div class="row">
            @Html.LabelFor(model=>model.FirstName, "First Name:")
            @Html.EditorFor(model=>model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="row">
            @Html.LabelFor(model => model.LastName, "Last Name:")
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="row">
            @Html.LabelFor(model => model.Email, "Email:")
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="row">
            @Html.LabelFor(model => model.Comment, "Comments:")
            @Html.TextAreaFor(model => model.Comment, new { @class = "form-control" })
        </div>

        <div class="row">
            <input type="submit" vlaue="submit" />
            <input type="reset" vlaue="reset" />
        </div>
    }
</div>