@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Speech.ViewModels
@model ContactViewModel

<div class="container user-form">
    <h1>Contact Us</h1>
    <hr />
    @using (Html.BeginForm("Contact", "About", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <div class="row">
            @Html.LabelFor(model=>model.FirstName, "First Name:")
            @Html.ValidationMessageFor(model => model.FirstName, null, new {@class="validation"})
            @Html.EditorFor(model=>model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.ValidationSummary(true)
        <div class="row">
            @Html.LabelFor(model => model.LastName, "Last Name:")
            @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "validation" })
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
         </div>
        @Html.ValidationSummary(true)
        <div class="row">
            @Html.LabelFor(model => model.Email, "Email:")
            @Html.ValidationMessageFor(model => model.Email, null, new { @class = "validation" })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.ValidationSummary(true)
        <div class="row">
            @Html.LabelFor(model => model.Comment, "Comments:")
            @Html.ValidationMessageFor(model => model.Comment, null, new { @class = "validation" })
            @Html.TextAreaFor(model => model.Comment, new { @class = "form-control" })
        </div>

        <div class="row">
            <input type="submit" value="Contact" class="btn"/>
            <input type="reset" value="Reset" class="btn"/>
        </div>
    }
</div>