@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage User Roles</h2>

<h2>Role Add to User</h2>

@using (Html.BeginForm("AddRole", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username : @Html.DropDownList("UserName", "Select User")
        Role Name: @Html.DropDownList("RoleName", "Select Roles")
    </p>
    <input type="submit" value="Save" />
}

<hr />
<h3>Get Roles for a User</h3>
@using (Html.BeginForm("GetRoles", "Roles"))
{
    @Html.AntiForgeryToken()
    <p>
        Username : @Html.DropDownList("UserName", "Select User")
        <input type="submit" value="Get Roles for this User" />
    </p>
}

@if (ViewBag.RolesForThisUser != null)
{
    <div>
        <h3>Roles for this user </h3>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

<hr />
<h3>Delete A User from a Role</h3>

@using (Html.BeginForm("DeleteRole", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username : @Html.DropDownList("UserName", "Select User")
        Role Name: @Html.DropDownList("RoleName", "Select Roles")
    </p>

    <input type="submit" value="Delete this user from Role" />
}