@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container user-form">

    <h1>Assign User Roles</h1>
    <hr />

    <p class="assign-role">Add a role to user</p>

    <div class="assign-role-div">
        @using (Html.BeginForm("AddRole", "Roles"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

                <div class="row">
                    <div class="col-sm-3">
                        <label>Username: </label>
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownList("UserName", "Select User")
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label>Role name: </label>
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownList("RoleName", "Select Roles")
                    </div>
                </div>

            <input type="submit" value="Save" class="btn"/>
        }
    </div>


    <p class="assign-role">Get roles for a user</p>
    <div class="assign-role-div">
        @using (Html.BeginForm("GetRoles", "Roles"))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-sm-3">
                    <label>Username : </label>
                </div>
                <div class="col-sm-9">
                    @Html.DropDownList("UserName", "Select User")
                </div>
            </div>

            <input type="submit" value="Get roles" class="btn" />
        }

        @if (ViewBag.RolesForThisUser != null)
        {
            <div>
                <h4><strong>Roles for this user</strong></h4>
                <ol>
                    @foreach (string s in ViewBag.RolesForThisUser)
                    {
                        <li>@s</li>
                    }
                </ol>
            </div>
        }
    </div>

    <p class="assign-role">Delete a user from a role</p>

    <div class="assign-role-div">
        @using (Html.BeginForm("DeleteRole", "Roles"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="row">
                <div class="col-sm-3">
                    <label>Username : </label>
                </div>
                <div class="col-sm-9">
                    @Html.DropDownList("UserName", "Select User")
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <label>Role Name: </label>
                </div>
                <div class="col-sm-9">
                    @Html.DropDownList("RoleName", "Select Roles")
                </div>
            </div>

            <input type="submit" value="Delete user from role" class="btn" />
        }
    </div>
</div>