@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole

<div class="container user-form">
    <h1>Edit Role</h1>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-sm-1">
                <label>Id:</label>
            </div>
            <div class="col-sm-11">
                @Html.DisplayFor(model => model.Id)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <label>Name:</label>
            </div>
            <div class="col-sm-11">
               @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>
        </div>

        <input type="submit" class="btn" value="Save Edit">
    }

    @Html.ActionLink("Back to Index", "Index")

</div>