@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole

<div class="panel panel-success">
    <div class="panel-heading">Detail</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label>Id:</label>
                @Html.DisplayFor(model => model.Id)
                <label>Name:</label>
                <h4> @Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })</h4>
                <input type="submit" class="btn btn-success" value="Save Edit">
            </div>
        }
    </div>
</div>