@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole>

<div class="container user-form">

    <h1>Roles Listing </h1>
    <hr />

    <div>
        @foreach (var role in Model)
        {
            <div class="row">
                <div class="col-sm-4">
                    <br />
                    <br />
                    <strong>@role.Name</strong>
                </div>
                <div class="col-sm-4">
                    <button class="btn" id="role-button">@Html.ActionLink("Delete", "Delete", new { roleName = @role.Name })</button>
                </div>
                <div class="col-sm-4">
                    <button class="btn role-button">@Html.ActionLink("Edit", "Edit", new { roleId = @role.Id })</button>
                </div>
            </div>
        }
    </div>

    <br />
    <br />
    <button class="btn" id="role-button">@Html.ActionLink("Create new role", "Create")</button>
    <button class="btn" id="role-button">@Html.ActionLink("Assign user role", "Assign")</button>

</div>