<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Speech Solutions</title>
    <script src="~/js/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="~/js/scripts.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                    <a class="navbar-brand" href="/">Speech Solutions</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            @Html.ActionLink("About", "About", "Home")
                        </li>
                        @*<li>
                            @Html.ActionLink("Hire Us", "Index", "Jobs")
                        </li>*@
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink("View Account Information", "Index", "Client")
                            </li>
                            <li>
                                @Html.ActionLink("Log Out", "LogOff", "Account")
                            </li>
                            <li>
                                <p id="nav-name">Welcome @User.Identity.Name</p>
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink("Login/Signup", "Index", "Account")
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
        <div class="body-div">
            @RenderBody()
        </div>
    </div>
</body>
</html>
