@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Speech.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <p>Account holder information</p>
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })

    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

    @Html.LabelFor(m => m.PhoneNumber)
    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })


    <p>Client information</p>

    @Html.LabelFor(m => m.FirstName)
    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })

    @Html.LabelFor(m => m.LastName)
    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })

    @Html.LabelFor(m => m.DOB)
    @Html.EditorFor(model => model.DOB, new { @type = "date", @class = "form-control" })
    <br/>
    @Html.LabelFor(m => m.Comment)
    @Html.TextAreaFor(m => m.Comment, new { @class = "form-control" })

    <p>Password must contain at least one number, upper and lower case letters, and a special character. Passwords must be at least 6 characters long.</p>

    <input type="submit" value="Register" class="btn btn-primary" />
}