@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Speech.Models.Profile

<div class="container user-form">
    <h1>Edit Account Information</h1>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ProfileId)
        @Html.HiddenFor(model => model.UserName)


        <label>First Name</label>
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" }})

        <label>Last Name</label>
        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })

        <label>Child First Name</label>
        @Html.EditorFor(model => model.ClientFirst, new { htmlAttributes = new { @class = "form-control" } })

        <label>Child Last Name</label>
        @Html.EditorFor(model => model.ClientLast, new { htmlAttributes = new { @class = "form-control" } })
       

        <label>Child Date of Birth</label>
        @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", @type = "date" } })


        @*@Html.LabelFor(m => m.DOB)
        <br />
        @Html.EditorFor(model => model.DOB, new { @type = "date", @class = "form-control" })
        <br />*@

        <label>Comment</label>
        @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })

        <input type="submit" class="btn" value="Save" />
        
        <br />
        <h4>@Html.ActionLink("Back to profile information", "Index", new { userName = User.Identity.Name }, new { id = Model.ProfileId })</h4>
        
    }

 </div>