@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Speech.Models.Profile

<div class="container user-form">
    <h1>Edit Your profile information</h1>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ProfileId)
        @Html.HiddenFor(model => model.UserName)


        <label>First Name</label>
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })

        <label>Last Name</label>
        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })

        <label>Client Date of Birth</label>
        @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })

        <label>Comment</label>
        @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })

        <label>Client First Name</label>
        @Html.EditorFor(model => model.ClientFirst, new { htmlAttributes = new { @class = "form-control" } })

        <label>Client Last Name</label>
        @Html.EditorFor(model => model.ClientLast, new { htmlAttributes = new { @class = "form-control" } })
        <br />
        <input type="submit" class="btn btn-success" value="Save" />
    }

    <br />
    <p>@Html.ActionLink("Back to profile information", "Index", new { userName = User.Identity.Name }, new { id = Model.ProfileId })</p>
 </div>