@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@model Speech.Models.Profile


<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <h1>Your Profile Information</h1>
        <hr />
        <table>
            <tr>
                <td class="property">First Name:</td>
                <td>@Html.DisplayFor(model => model.FirstName)</td>
            </tr>
            <tr>
                <td class="property">Last Name:</td>
                <td>@Html.DisplayFor(model => model.LastName)</td>
            </tr>
            <tr>
                <td class="property">User Name:</td>
                <td>@Html.DisplayFor(model => model.UserName)</td>
            </tr>
            <tr>
                <td class="property">Client First Name:</td>
                <td>@Html.DisplayFor(model => model.ClientFirst)</td>
            </tr>
            <tr>
                <td class="property">Client Last Name:</td>
                <td>@Html.DisplayFor(model => model.ClientLast)</td>
            </tr>
            <tr>
                <td class="property">Client Date of Birth:</td>
                <td>@Html.DisplayFor(model => model.DOB)</td>
            </tr>
            <tr>
                <td class="property">Comments:</td>
                <td>@Html.DisplayFor(model => model.Comment)</td>
            </tr>
        </table>
    }
<button class="btn btn-info" id="edit-button">@Html.ActionLink("Edit your profile information","Edit", new { userName = User.Identity.Name })</button>
</div>
