@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@model Speech.Models.Profile


<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        
        <h1>Your Account Information</h1>
        <hr />

        <div class="info">
            <div class="row">
                <div class="col-sm-6">
                    <img class="person" src="~/images/adult.png" />
                    
                </div>
                <div class="col-sm-6">
                    <img class="person" src="~/images/child2.png" />
                   
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="property">First Name:</h4>
                        </div>
                        <div class="col-sm-6">
                            <h4>@Html.DisplayFor(model => model.FirstName)</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="property">Last Name:</h4>
                        </div>
                        <div class="col-sm-6">
                            <h4>@Html.DisplayFor(model => model.LastName)</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="property">User Name:</h4>
                        </div>
                        <div class="col-sm-6">
                            <h4>@Html.DisplayFor(model => model.UserName)</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="property">Child First Name:</h4>
                        </div>
                        <div class="col-sm-6">
                            <h4>@Html.DisplayFor(model => model.ClientFirst)</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="property">Child Last Name:</h4>
                        </div>
                        <div class="col-sm-6">
                            <h4>@Html.DisplayFor(model => model.ClientLast)</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="property">Child Date of Birth:</h4>
                        </div>
                        <div class="col-sm-6">
                            <h4>@Html.DisplayFor(model => model.DOB)</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr />
                <div class="col-sm-3">
                    <img class="comment" src="~/images/comment.jpg" />
                </div>
                <div class="col-sm-9">
                    <h4>@Html.DisplayFor(model => model.Comment)</h4>
                </div>
            </div>
            <hr />
            <div class="row">
                <h4><span class="property">Goals for @Html.DisplayFor(model => model.ClientFirst):</span></h4>
                @if (Model.Goals.Count > 0)
                {
                    <div class="col-sm-6">
                        <h5>Goals in progress:</h5>

                        @foreach (var goal in Model.Goals)
                        {
                            @if (goal.Completed == false)
                            {
                                <li>@goal.Description</li>
                            }
                        }
                    </div>

                    <div class="col-sm-6">
                        <h5>Goals that have been met:</h5>
                        @foreach (var goal in Model.Goals)
                        {
                            @if (goal.Completed == true)
                            {
                                <li>@goal.Description</li>
                            }
                        }
                    </div>
                }
                else
                {
                    <p>No goals have been added yet by the therapist.</p>

                }
            </div>


        </div>
    }
<button class="btn" id="edit-button">@Html.ActionLink("Edit profile information","Edit", new { userName = User.Identity.Name })</button>
</div>
