@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@model Speech.Models.Profile


<div class="container">
    @if (User.Identity.IsAuthenticated)
    {

        <h1>View @Html.DisplayFor(model => model.ClientFirst)'s Progress</h1>
        <hr />

        <div class="row">
            <h2>Goals:</h2>
            @if (Model.Goals.Count > 0)
            {
                <div class="row">
                    <div class="col-sm-2">
                        <h4 class="not-met">In progress:</h4>
                    </div>
                    <div class="col-sm-10">
                        @foreach (var goal in Model.Goals)
                        {
                            @if (goal.Completed == false)
                            {
                                <li class="goal-list">@goal.Description</li>
                            }
                        }
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-sm-2">
                        <h4 class="met">Completed:</h4>
                    </div>
                    <div class="col-sm-10">
                        @foreach (var goal in Model.Goals)
                        {
                            @if (goal.Completed == true)
                            {
                                <li class="goal-list">@goal.Description</li>
                            }
                        }
                    </div>
                </div>
            }
            else
            {
                <p class="goal-list">No goals have been added yet by the therapist.</p>
            }
        </div>

        <div class="row">
          
            <h2>Notes:</h2>
            <div class="col-sm-12">
                @if (Model.Notes.Count > 0)
                {

                    @foreach (var note in Model.Notes)
                    {
                        <li class="goal-list">@note.Description</li>
                        <li>@note.Date</li>
                    }

                }
                else
                {
                    <li class="goal-list">No notes have been added yet by the therapist.</li>
                }
            </div>
            
        </div>
    }
</div>